pre {
    background-color: #FAFAFA;
    /* 背景颜色 */
    border-radius: 4px;
    /* 边框圆角 */
    padding: 10px;
    /* 内边距 */
    margin: 10px 0;
    /* 外边距 */
    font-family: "JetBrains Mono" !important;
    /* 字体 */
    line-height: 1.4;
    /* 行高 */
    overflow-x: auto;
    /* 水平滚动 */
    position: relative;
    border: 1px solid #e1e1e1;
    padding-bottom: 20px;
}

pre>code {}

/* 选择所有包含 'language-js' 类的 code 元素 */
code[class^="language-"]::before {
    letter-spacing: 2px;
    position: absolute;
    /* 绝对定位 */
    left: 0;
    /* 距离顶部的距离，根据需要调整 */
    bottom: 0;
    /* 距离右侧的距离，根据需要调整 */
    padding: 4px;
    /* 添加一些内边距 */
    /* 设置背景颜色 */
    color: var(--AccColor);
    /* 设置文本颜色 */
    border-radius: 4px 0 0 4px;
    /* 左上角的圆角 */
    font-size: 12px;
    /* 文本大小 */
    font-weight: 700;
    z-index: 1;
    /* 确保标识显示在code元素之上 */

}

code[class="language-js"]::before {
    content: 'JS';
    /* 设置文本内容 */
}

code[class="language-html"]::before {
    content: 'HTML';
    /* 设置文本内容 */
}

p>code {
    color: var(--AccColor);
    font-weight: 700;
    font-size: 1rem;
    padding: 2px 5px;
    border-radius: 4px;
    background-color: #f5f5f5;
}